<br/> 
<div class="row">    
   <div class="col-md-4">
     <a href="#/details/{{dc.prevItem}}" class="btn btn-success"><b>Previous</b></a>
   </div> 
    <div class="col-md-4">
       <a href="#/list" class="btn btn-warning"><b>Main Page</b></a>
   </div>
   <div class="col-md-4">
       <a href="#/details/{{dc.nextItem}}" class="btn btn-success"><b>Next</b></a>
   </div>
</div> 
<div class="row">          
   <h1 align="center"><code class="fancyText">
   <b>{{dc.whichItem*1+1}}. {{dc.tenThings[dc.whichItem].name}}</b>
   </code></h1>
   <br/>     
   <div class="row">     
       <div class="col-md-6">
         <img height="240" width="480" 
         ng-src="images/{{dc.tenThings[dc.whichItem].imageName}}.jpg" 
              alt="Photo of {{dc.tenThings[dc.whichItem].name}}">
       </div>
       <div class="col-md-offset-1 col-md-4 fancyText">
        <h3>{{dc.tenThings[dc.whichItem].description}}</h3>
       </div>
   </div>   
   <br><br>     
</div>





 
